.container-fluid{
	margin: 0;
	padding: 0;
}

.navbar{
	border-radius: 0px;
	background-color: #75112E;
}

.navbar-brand{
  font-size: 35px;
  color: white;
  padding-left: 25px;
  
}

.navbar-brand:hover{
	color: white ;
}

.nav{
	margin: 0;
	padding: 0;
	
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

.icon-bar{
	background-color: #DE6F8F ;
}


.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: #ff4532;
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid black;
	color: black;
	display: block;
}

.menu-item:hover{
	background-color:#BAE0ED;;
	color:#BAE0ED ;
}



.row{
	margin: 20px;
}

.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: #DE6F8F ;
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}

.item-name{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#top{

}
